@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-background: #2E3440;
    --color-backgroundProminent: #3B4252;
    --color-backgroundBright: #434C5E;
    --color-backgroundBrightest: #4C566A;
    --color-accent: #fff;
    --color-white: #D8DEE9;
    --color-whiteBright: #E5E9F0;
    --color-whiteBrightest: #ECEFF4;
    --color-primary: #8FBCBB;
    --color-bright: #88C0D0;
    --color-secondary: #81A1C1;
    --color-tertiary: #5E81AC;
    --color-red: #BF616A;
    --color-orange: #D08770;
    --color-yellow: #EBCB8B;
    --color-green: #A3BE8C;
    --color-magenta: #B48EAD;
}