node_modules
*.log
*.typegen.ts
dist
build
coverage
reports/playwright-helpers
reports/playwright-report

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
