node_modules
*.log
*.typegen.ts
dist
build
coverage
tooling/backstop_data/html_report/
tooling/backstop_data/ci_report
tooling/backstop_data/bitmaps_test

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
